{{ define "main" }}

{{- $home := cond (eq $.Site.Language.Lang "en") $.Site.Data.en.home $.Site.Data.home -}}

{{ with $home.hero_slider }}
{{ if .enable }}
  {{ partial "heroSliderSection.html" (dict "hero_slider" .) }}
{{ end }}
{{ end }}

{{ partial "startedSection.html" . }}

<section class="section blog offre-section">
  <div class="content">
    <div class="offre-wrap">
      {{ .Content }}
    </div>
  </div>
</section>

{{ if .Params.cal_script }}
<script src="{{ "js/cal-init.js" | absURL }}" defer></script>
{{ end }}

{{ end }}
