{{- $home := cond (eq $.Site.Language.Lang "en") $.Site.Data.en.home $.Site.Data.home -}}
{{ with $home.resume }}
{{ if .enable }}

{{ "<!-- Section Resume -->" | safeHTML }}
<section class="section resume" id="section-experience">
  <div class="content">

    {{ "<!-- title -->" | safeHTML }}
    <div class="titles">
      <h2 class="title">{{ .experience.title }}</h2>
      <div class="subtitle">{{ .experience.subtitle }}</div>
    </div>

    {{ "<!-- resume items -->" | safeHTML }}
    <div class="content-carousel">
      <div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">
        {{ range .experience.items }}
        <div class="item">
          <div class="resume-item active">
            <div class="date">{{ .year }}</div>
            <div class="name">{{ .name | safeHTML }}</div>
            <div class="single-post-text">
              <p>
                {{ .text | safeHTML }}
              </p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      {{ "<!-- navigation -->" | safeHTML }}
      <div class="navs">
        <span class="prev fas fa-chevron-left" role="button" tabindex="0" aria-label="{{ i18n "prev" }}"></span>
        <span class="next fas fa-chevron-right" role="button" tabindex="0" aria-label="{{ i18n "next" }}"></span>
      </div>

    </div>

  </div>
</section>

{{ "<!-- Section Resume -->" | safeHTML }}
<section class="section resume" id="section-education">
  <div class="content">

    {{ "<!-- title -->" | safeHTML }}
    <div class="titles">
      <h2 class="title">{{ .education.title }}</h2>
      <div class="subtitle">{{ .education.subtitle }}</div>
    </div>

    {{ "<!-- resume items -->" | safeHTML }}
    <div class="content-carousel">
      <div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">
        {{ range .education.items }}
        <div class="item">
          <div class="resume-item active">
            <div class="date">{{ .year }}</div>
            <div class="name">{{ .name | safeHTML }}</div>
            <div class="single-post-text">
              <p>
                {{ .text | safeHTML }}
              </p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      {{ "<!-- navigation -->" | safeHTML }}
      <div class="navs">
        <span class="prev fas fa-chevron-left" role="button" tabindex="0" aria-label="{{ i18n "prev" }}"></span>
        <span class="next fas fa-chevron-right" role="button" tabindex="0" aria-label="{{ i18n "next" }}"></span>
      </div>

    </div>

  </div>
</section>

{{ if .projects }}
{{ "<!-- Section Resume Projects -->" | safeHTML }}
<section class="section resume" id="section-projects">
  <div class="content">

    {{ "<!-- title -->" | safeHTML }}
    <div class="titles">
      <h2 class="title">{{ .projects.title }}</h2>
      <div class="subtitle">{{ .projects.subtitle }}</div>
    </div>

    {{ "<!-- resume items -->" | safeHTML }}
    <div class="content-carousel">
      <div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">
        {{ range .projects.items }}
        <div class="item">
          <div class="resume-item active">
            <div class="date">{{ .year }}</div>
            <div class="name">{{ .name | safeHTML }}</div>
            <div class="single-post-text">
              <p>
                {{ .text | safeHTML }}
              </p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      {{ "<!-- navigation -->" | safeHTML }}
      <div class="navs">
        <span class="prev fas fa-chevron-left" role="button" tabindex="0" aria-label="{{ i18n "prev" }}"></span>
        <span class="next fas fa-chevron-right" role="button" tabindex="0" aria-label="{{ i18n "next" }}"></span>
      </div>

    </div>

  </div>
</section>
{{ end }}

{{ end }}
{{ end }}
