{{- $home := cond (eq $.Site.Language.Lang "en") $.Site.Data.en.home $.Site.Data.home -}}
{{ with $home.services }}
{{ if .enable }}

{{ "<!-- Section Service -->" | safeHTML }}
<section class="section service" id="section-services">
  <div class="content">

    {{ "<!-- title -->" | safeHTML }}
    <div class="titles">
      <h2 class="title">{{ .title }}</h2>
      <div class="subtitle">{{ .subtitle }}</div>
    </div>

    {{ "<!-- services items -->" | safeHTML }}
    <div class="service-items">
      {{ range .items }}
      <div class="service-col">
        <div class="service-item">
          <div class="icon"><i class="{{ .icon }}" aria-hidden="true"></i></div>
          <div class="name">{{ .name | safeHTML }}</div>
          <div class="single-post-text">
            <p>
              {{ .text | safeHTML }}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <div class="clear"></div>
  </div>
</section>

{{ end }}
{{ end }}
