{{- $home := cond (eq $.Site.Language.Lang "en") $.Site.Data.en.home $.Site.Data.home -}}
{{ with $home.skills }}
{{ if .enable }}

{{ range .columns }}
{{ "<!-- Section Design Skills -->" | safeHTML }}
<section class="section skills" id="section-skills-{{ .slug }}">
  <div class="content">

    {{ "<!-- title -->" | safeHTML }}
    <div class="titles">
      <h2 class="title">{{ .title }}</h2>
      <div class="subtitle">{{ .subtitle }}</div>
    </div>

    {{ "<!-- skills items -->" | safeHTML }}
    <div class="skills {{ if .type }} {{ .type }}{{ end }}">
      <ul>
        {{ if eq .type "default" }}
				{{ range .items }}
				<li>
					<div class="name">{{ .label }}</div>
          <div class="single-post-text">
            <p>{{ .text | safeHTML }}</p>
          </div>
					<div class="progress" role="progressbar" aria-valuenow="{{ .value }}" aria-valuemin="0" aria-valuemax="100" aria-label="{{ .label }}: {{ .value }}%">
						<div class="percentage" style="width:{{ .value }}%;">
							<span class="percent">{{ .value }}%</span>
						</div>
					</div>
				</li>
				{{ end }}
				{{ end }}

				{{ if eq .type "dotted" }}
				{{ range .items }}
				<li>
					<div class="name">{{ .label }}</div>
          <div class="single-post-text">
            <p>{{ .text | safeHTML }}</p>
          </div>
					<div class="progress" role="progressbar" aria-valuenow="{{ .value }}" aria-valuemin="0" aria-valuemax="100" aria-label="{{ .label }}: {{ .value }}%">
						<div class="percentage" style="width: {{ .value }}%;">
							<span class="percent">{{ .value }}%</span>
						</div>
					</div>
				</li>
				{{ end }}
				{{ end }}

				{{ if eq .type "circles" }}
				{{ range .items }}
				<li>
					<div class="progress p{{ .value }}" role="progressbar" aria-valuenow="{{ .value }}" aria-valuemin="0" aria-valuemax="100" aria-label="{{ .label }}: {{ .value }}%">
						<div class="percentage"></div>
						<span>{{ .value }}%</span>
					</div>
          <div class="name">{{ .label }}</div>
          <div class="single-post-text">
            <p>{{ .text }}</p>
          </div>
				</li>
				{{ end }}
				{{ end }}

      </ul>
    </div>

  </div>
</section>
{{ end }}

{{ end }}
{{ end }}
