{{- $home := cond (eq $.Site.Language.Lang "en") $.Site.Data.en.home $.Site.Data.home -}}
{{ with $home.testimonials }}
{{ if .enable }}

{{ "<!-- Section Testimonials -->" | safeHTML }}
<section class="section testimonials" id="section-testimonials">
  <div class="content">

    {{ "<!-- title -->" | safeHTML }}
    <div class="titles">
      <h2 class="title">{{ .title }}</h2>
      <div class="subtitle">{{ .subtitle }}</div>
    </div>

    {{ "<!-- testimonials items -->" | safeHTML }}
    <div class="content-carousel">
      <div class="owl-carousel" data-slidesView="2" data-slidesview_mobile="1">
        {{ range .items }}
        <div class="item">
          <div class="reviews-item">
            <div class="image">
              <img src="{{ .image | absURL }}" alt="{{ .name }}" loading="lazy" />
            </div>
            <div class="info">
              <div class="name">{{ .name }}</div>
              <div class="company">{{ .role }}</div>
            </div>
            <div class="text">
              {{ .text | safeHTML }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      {{ "<!-- navigation -->" | safeHTML }}
      <div class="navs">
        <span class="prev fas fa-chevron-left" role="button" tabindex="0" aria-label="{{ i18n "prev" }}"></span>
        <span class="next fas fa-chevron-right" role="button" tabindex="0" aria-label="{{ i18n "next" }}"></span>
      </div>

    </div>

  </div>
</section>

{{ end }}
{{ end }}
